.leftmenu{
    background-color:#4e73de;
    height: 1712px;
    color: white !important;
    /* width: 0px;; */
}
.navigation{
    padding: 0%;
    
}

.dashboard{
    background-color: #ecedf0;
    height: max-content;
    border-color:2px solid rgb(19, 196, 196) ;

    
}
